PORT=4000
CLIENT_ORIGIN=http://localhost:3000

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_USER=speaking
POSTGRES_PASSWORD=change-me
POSTGRES_DB=speaking_admin

# Kafka
KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_ANSWER_UPLOADED_TOPIC=answer.uploaded
KAFKA_FEEDBACK_CREATED_TOPIC=feedback.created

# MinIO
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_CONTENT_BUCKET=speaking-content-assets
MINIO_ANSWERS_BUCKET=speaking-user-answers
